	<% if logged_out? %>
    <div id="home_logged_out">
      <%= link_to "Make an account today!", signup_path, class: "signup" %>
    </div>
	<% else %>
    <div id="userInfo">  
		  <%= render partial: 'shared/user_info' %>
    </div>  
    <div id="createForm">  
	    <%= render partial: 'shared/listing_form' %>
	  </div>
  
	  <div class="listings-list">
	    <h3 class="page-head">Listings</h3>
	 	  <%= render partial: 'shared/feed', locals: { feed_items: @feed_items } %>
	  </div>
  <% end %>