
  <h1 class="page-head">urList</h1>
  
  <%if logged_out?%>
    <div class="centered">
      <%= link_to "Make an account today!", signup_path, class: "signup" %>
    </div>
  <%else%>


  
  <%end%>
