<div id="edit_form">

<div id="edit-listing_errors"></div>  

<%= render partial: 'shared/listing_form'%>

	<% if current_user?(@user) %>
      <%= link_to "Delete Account", @user, class: "delete", method: :delete,
	                                  data: { confirm: "Are you sure?" } %>
	<% end %>
  
</div>  
  
