// used http://js2coffee.org/ to convert code in http://edgeguides.rubyonrails.org/working_with_javascript_in_rails.html, as well as http://stackoverflow.com/questions/17246411/ajax-call-to-render-partial-in-rails-3 to figure out the partial: locals: part
// also used http://stackoverflow.com/questions/10633605/clear-form-values-after-submission-ajax
// also used https://github.com/camsong/AjaxCRUD/blob/master/app/views/entries/create.js.erb

$(document).ready(function() {
  // $("#list").prepend("<%= j(render @listing) %>");
	var post = $("<%= j(render @listing) %>");
		$("#list").prepend(post);
		$( post ).addClass('green-background');
		setTimeout(function() {
		  $(".green-background").css("background-color", "white");
		     }, 2000);
  $("#new_listing")[0].reset();
  $("#create-listing_error").replaceWith("<div id='create-listing_error'></div>");
  console.log("image uploaded?");
});