<div id="application">
  <h1 class="page-head">Update your profile</h1>

  <%= render partial: 'users/form' %>
  
  
	<% if current_user?(@user) %>
	    <%= link_to "Delete Account", @user, remote: true, 
                                           class: "delete", 
                                           method: :delete,
	                                         data: { confirm: "Are you sure?" } %>
	<% end %>
</div>  