<div id="application">
<h1 class="welcome">User Directory</h1>

<ul>
  <% @users.each do |user| %>
    <li class="username">
			<%= link_to "#{user.fName} #{user.lName}", user, remote: true%>

    </li>
  <% end %>
</ul>
</div>