<% provide(:title, "Edit user") %>
<h1 class="page-head">Update your profile</h1>

  <%= render "form" %>
  
  <br><br>
	<% if current_user?(@user) %>
	    <%= link_to "Delete Account", @user, class: "delete", method: :delete,
	                                  data: { confirm: "Are you sure?" } %>
	  <% end %>
