
<h1 class="welcome">Welcome, <%= link_to current_user.fName, current_user, class:"username" %><h1>

<<<<<<< HEAD
<!-- <span><%= pluralize(current_user.listings.count, "posts") %></span> -->
=======
<h2 class="post-info">You've made <%= pluralize(current_user.listings.count, "posts") %></h2>
>>>>>>> more-ajax
