		<div id="temp-header">
		    <nav>
		      <div class="wide-nav">
		      <ul id="navlist">
		        <li><%= link_to "Home",   root_path, class: "nav-link" %></li>
		        <li><%= link_to "Help",   help_path, class: "nav-link" %></li>
						<li><%= link_to "Log in", login_path, class: "nav-link" %></li>
					</div>
		</div>
		<div class="delete-account">
			<h1>Sorry to see you go...</h1>
			<p>We'd really appreciate your feedback. Just email <a href="mailto:nfalcone@u.rochester.edu">Nick</a> or <a href="mailto:lbochene@u.rochester.edu">Laura</a>. Thanks!</p>
		</div>